@use "tailwindcss";
@use "@radix-ui/themes/styles";

#human-automator-modal-backdrop {
  position: fixed;
  inset: 0;
  z-index: 99998;
}

#human-automator-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-width: 90%;
  height: auto;
  max-height: 90vh;
  overflow-y: hidden;
  z-index: 99999;
}