@use 'bootstrap/dist/css/bootstrap.min.css';

.gradebook-narrow__cell {
  &.smart-cell {
    &.remove-smart-cell-selected {
      background: none !important;
      box-shadow: none !important;
    }
  }
}

.toast {
  .btn-close {
    position: absolute;
    right: 0;
    margin: 10px;
  }

  &.bg-danger {
    .toast-header {
      position: relative;
      background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity));
    }
  }

  &.bg-success {
    .toast-header {
      position: relative;
      background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity));
    }
  }
}

.modal-dialog {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  .btn-close {
    position: absolute;
    right: 0;
    margin: .6rem;
  }

  .progress {
    height: 1.5rem;
  }

  .form-switch {
    .form-check-input {
      margin-top: .25rem;
    }
  }

  .form-text {
    p {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.modal-open {
  .modal-backdrop {
    opacity: .5 !important;

    &.show {
      opacity: 0;
    }
  }

  .modal-dialog {
    .modal-title {
      .lucide {
        margin-top: 0.1rem;
      }
    }

    .react-datepicker-wrapper {
      width: 100%;
    }
  }

  .card-body {
    p {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#human-automator svg {
  &:hover {
    opacity: 1;
  }
  opacity: .5;
  cursor: pointer;
  padding: 0.5rem;
  right: 0;
  bottom: 1rem;
  position: fixed;
  transform: translateX(-50%);
  z-index: 5;
  background: #fff;
  border: 1px solid #eef0f2;
  border-radius: 25px;
  box-shadow: 0 10px 45px rgba(158, 170, 187, .2);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  animation: fadeIn 0.5s ease-in;
  transition: opacity 0.3s ease;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select,
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}
